{% extends "layout.html" %}
{% block content %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('admin')}}">ShopTop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('admin')}}">товар<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('brands')}}">бренд</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('categories')}}">категория</a>
            </li>

          </ul>
        </div>
      </nav>
</div>

<!--==========END NAVBAR ==============-->

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                {% include '_messages.html' %}
                {% if brands %}
                <div class="text-center  p-2 h3 mb-3">{% if updatebrand %} Обновить {% else %} Добавить {% endif %} бренд</div>     
                <form method=post>
                <div>
                 <form action="" method="post">
                     {% if updatebrand %}
                     <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}">
                     <input type="submit" value="обновить бренд" class="btn btn-info mt-3">
                     {% else %}
                     <input type="text" name="brand" class="form-control">
                     <input type="submit" value="добавить бренд" class="btn btn-info mt-3">
                     {% endif %}
                     
                 </form>
                </div>
                </form>
                {% else %}
                <div class="text-center  p-2 h3 mb-3">{% if updatecat %}Обновить {% else %}Добавление {% endif %}категории</div>     
                <form method=post>
                <div>
                 <form action="" method="post">
                     {% if updatecat %}
                     <input type="text" name="category" class="form-control" value="{{updatecat.name}}">
                     <input type="submit" value="обновить категорию" class="btn btn-info mt-3">
                     {% else %}
                     <input type="text" name="category" class="form-control">
                     <input type="submit" value="добавить категорию" class="btn btn-info mt-3">
                     {% endif %}
                     
                 </form>
                </div>
                </form>
                {% endif %}
            </div>
      <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}